[package]
name = "cadenza-infra-storage-fs"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
dirs-next = "2"

cadenza-ports = { path = "../cadenza-ports" }
